.titulo{
    color: blue;
    text-align: center;
    
}

.contenedor-formulario{
    background-color:  #f2f2f2;
    margin: 0 auto;
    max-width: 100vw;
    padding: 1.5rem;
    border: 1rem solid #000;
    border-radius: 1rem;
    font-weight: 700;
}
input,select{
    min-width:100%;
    padding: 1rem 0;
    border: 5px solid #ccc;
    border-radius: 1px;
}

.fila{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.boton{
    background-color: #008000;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;


}